aiosmtplib
aiosqlite
annotated-doc
annotated-types
anyio
bcrypt
charset-normalizer
click
dnspython
email-validator
exceptiongroup
fastapi
greenlet
h11
httptools
idna
Jinja2
MarkupSafe
pillow
pydantic
pydantic_core
PyJWT
python-dotenv
python-multipart
PyYAML
reportlab
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets